@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --Soft-Cyan: hsl(174, 77%, 80%);
  --Strong-Cyan: hsl(174, 86%, 45%);
  --Light-Grayish-Red: hsl(14, 92%, 95%);
  --Light-Red: hsl(15, 100%, 70%);
  --Pale-Blue: hsl(226, 100%, 87%);
  --White: hsl(0, 0%, 100%);
  --Very-Pale-Blue: hsl(230, 100%, 99%);
  --Light-Grayish-Blue: hsl(224, 65%, 95%);
  --Light-Grayish-Blue: hsl(223, 50%, 87%);
  --Grayish-Blue: hsl(225, 20%, 60%);
  --Dark-Desaturated-Blue: hsl(227, 35%, 25%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  position: relative;
}
.background_main_img img {
  position: absolute;
  min-width: 100%;
  height: 50vh;
  top: 0;
  z-index: -10;
}
.background_circle_img {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}